/*Task 1*/
.task1 p:first-of-type {
	background-color: #8bc34a;
}

.task1 p:last-child {
	background-color: #c86cc8;
}

.task1 p:first-of-type:hover {
	background: #ffff66;
}

.task1 p:last-child:hover {
	background-color: #7a5230;
}

.task1 p:last-child:active {
	background-color: gold;
}

.task1 p:first-of-type:active {
	background-color: red;
}

/*Задание 2*/
.task2 input:focus {
	border: 2px solid #8bc34a;
}
/*Task 3*/
.task3 p:nth-child(even){
	background-color: #ddd;
}

/*Task 4*/

.task4 p:first-letter {
	font-size: 2em;
	font-family: Georgia;
	color: red;
}

/*Task5*/
.task5 p:after {
	content:'*';
}

/*Task 6*/
/*Когда устанавливаю content от before, то :first-letter; переходит на символ (content)*/
.task6 p:before {
	content:'\2602';
}

/*Task 7*/
.task7 div {
	width: 40px;
	height: 30px;
	background-color: black;
	position: relative;
}

.task7 div:before {
	content: '';
	border: 5px solid transparent;	
	border-right: 20px solid black;
	position: absolute;
	top: 10px;
	right: 40px;
}